<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Tshape Linh Pham 1326 Day3" thread-count="1">
        <parameter name="browser"  value="chrome"/>
        <classes>
            <class name="nt.tshape.Test.Test_Day1">
                <methods>
                    <include name="registerNewAccount"/>
                    <include name="verifyNewAccount"/>
                </methods>
            </class>
            <class name="nt.tshape.Test.Test_Day2">
                <methods>
                    <include name="scenario1"/>
                    <include name="createNewCustomer"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>